
{% extends 'base.html.twig' %}

{% block title %}<title>home page</title>{% endblock %}
{% block body%}
    {{parent() }}

    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
            <h1 class="mb-4 pb-0">Bienvenue chez<br><span>rhapsody </span>travel</h1>
            <p class="mb-4 pb-0">La plus grande récompense, le voyage de luxe</p>
            <a href="https://youtu.be/FDYF6R0zed0" class="glightbox play-btn mb-4"></a>
            <a href="#about" class="about-btn scrollto">Créer un compte</a>
        </div>
    </section><!-- End Hero Section -->

{% endblock %}