{% extends 'base.html.twig' %}

{% block title %}Edit Aide{% endblock %}

{% block body %}
    <h1>Edit Aide</h1>

    {{ include('aide/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('aide_index') }}">back to list</a>

    {{ include('aide/_delete_form.html.twig') }}
{% endblock %}
