{% extends 'user/index.html.twig' %}
{% block title %}<title>List users</title>{% endblock title%}

{% block body %}
{{ parent() }}

{% block hero %}
<section id="about"></section>
        <section id="speakers">
            <table class="container table" data-aos="fade-up">
                <div class="section-header">
                    <h2>La liste des utilisateurs</h2>
                </div>
            <thead>
                <tr class="row justify-content-start">
                    <th class="col-3">
                        Nom utilisateur
                    </th>
                    <th class="col-3">
                        Email
                    </th>
                    <th class="col-3">
                        status du compte
                    </th>

                    <th class="col-3">
                        Action
                    </th>
                </tr>
            </thead>
                <tbody>
                {% for user in list %}
                    <tr class="row justify-content-start">
                        <td class="col-3">
                             {{ user.prenom }}
                        </td>
                        <td class="col-3">
                            {{ user.email }}
                        </td>
                        <td class="col-3">
                           {% set action=1 %} {% if user.status ==1 %}{% set action=0 %}activé{% else %}Désactivé{% endif %}
                        </td>
                        <td class="col-3">
                            <a href="{{ path('changeStatus',{'id':user.id,'action':action}) }}"> <button  type="button" {% if action==0 %}class="btn btn-danger" {%else %}class="btn btn-success"{% endif %}>{% if user.status ==1 %}Désactiver{% else %}Activer{% endif %}</button></a>

                        </td>
                    </tr>
                {%endfor %}
                </tbody>

            </table>
        </section>

    {% endblock hero %}
    {% block footer %}
    {% endblock %}
{% endblock body %}