{% extends 'base.html.twig' %}
{% block title  %}<title>Login page</title>{% endblock %}
{% block body %}
{{ parent() }}


    <section id="contact" class="section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>Authentification</h2>
                <p>Bienvenue à nouveau</p>
            </div>
            <div class="form">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row justify-content-md-center">
                        <div class="form-group col-md-4 mt-4 mt-md-0">
                            <input type="email" name="email" class="form-control" id="email" placeholder="email" required>
                        </div>
                    </div>
                        <div class="row justify-content-md-center ">
                        <div class="form-group col-md-4 mt-4 mt-md-0">
                            <input type="password" name="pass" class="form-control" id="pass" placeholder="mot de passe" required>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="loading">chargement</div>
                        <div class="error-message"></div>
                        <div class="sent-message">vérifier l'email ou le mot de passe</div>
                    </div>
                    <div class="text-center"><button type="submit">Connexion</button></div>
                </form>
            </div>
        </div>
    </section>
    <!-- End Contact Section -->
{% endblock body  %}